.slider-wrapper {
    position: relative;
    padding-inline: 8vw;
    
}

.swiper::before {
    content: ""; 
    position: absolute; 
    top: 50%; 
    left: 50%; 
    transform: translate(-50%, -50%); 
    width: 50vw; 
    height: 30vw; 
    background-image: radial-gradient(farthest-corner at 20% 20%, rgba(174, 174, 174, 0.1) 50%, rgba(168, 168, 168, 0) 100%); 
    border-radius: 50%;
    filter: blur(10px);
}

.customers__title{
    width: 40%;
    line-height: 1.2;
    font-weight: 800;
    text-align: center;
    display: block;
    margin: 7vw auto 3vw auto;
    font-size: 4.3vw;
    color: #1B1B1D;
}

.customers__rating{
    width: 35%;
    margin: 0 auto 6vw auto;
    display: grid;
    grid-template-columns: 1fr 2fr;
    color: #1B1B1D;
}

.rating__number{
    margin: 0;
    font-weight: 600;
    font-size: 3vw;
    text-align: right;
    padding-right: 1vw;
}

.rating__text{
    font-size: 1.5vw;
    color: #64646A;
    margin: 0;
}

.stars_yellow svg{
    width: 1.6vw;
    margin-right: -0.4vw;
}




.card__container {
    border-radius: 2vw;
    background-color: #ffffff;
    box-shadow: 0 0 100px 0.5px rgba(194, 194, 194, 0.2);
}

.card__header img{
    border-top-left-radius: 2vw;
    border-top-right-radius: 2vw;
    width: 100%;
}

.card__content{
    width: 80%;
    margin: 0 auto;
    padding: 3vw 0 2.3vw 0;
}

.card__title{
    display: flex;
    align-items: center;
    margin-bottom: 1.5vw;
}

.card__title .stars_yellow{
    padding-top: 0.3vw;
    padding: 0.3vw 0 0 1vw;
}

.card__title p{
    font-weight: 600;
    font-size: 1.7vw;
    color: #1B1B1D;
    margin: 0;
}

.card__description{
    font-size: 1.4vw;
    color: #1B1B1D;
    margin: 0;
}


.button-arrow {
    position: absolute;
    top: 50%;
    display: flex;
    z-index: 1;
    cursor: pointer;
    width: 4.5vw;
    height: 4.5vw;
    padding: 0;
    background-color: #fff;
    border-radius: 50%;
    box-shadow: 0px 12px 30px 0px rgba(205, 209, 214, 0.28);
}

.button-arrow--prev {
    left: 0;
}
  
.button-arrow--next {
    right: 0;
} 

.button-arrow svg {
    width: 55%;
    display: block;
    margin: auto;

}

.button-arrow:hover {
    background-color: #FFB700;
}

.button-arrow:hover svg{
    scale: 1.2;
}



@media (max-width: 767px) {
    .slider-wrapper {
        padding-inline: 10vw;
        
    }
    
    .customers__title{
        width: 70%;
        margin: 15vw auto 3vw auto;
        font-size: 7vw;
    }
    
    .customers__rating{
        width: 60%;
        margin: 0 auto 6vw auto;
    }
    
    .rating__number{
        font-size: 5vw;
        padding-right: 1vw;
    }
    
    .rating__text{
        font-size: 3vw;
    }
    
    .stars_yellow svg{
        width: 3vw;
        /* margin-right: -0.4vw; */
    }
    
    
    
    
    .card__container {
        border-radius: 5vw;
    }
    
    .card__header img{
        border-top-left-radius: 5vw;
        border-top-right-radius: 5vw;
    }
    
    .card__content{
        width: 80%;
        margin: 0 auto;
        padding: 3vw 0 5vw 0;
    }
    
    .card__title{
        margin-bottom: 3vw;
    }
    
    .card__title .stars_yellow{
        padding-top: 0.3vw;
        padding: 0.5vw 0 0 1vw;
    }
    
    .card__title p{
        font-size: 3vw;
    }
    
    .card__description{
        font-size: 2.5vw;
    }
    
    
    .button-arrow {
        width: 8vw;
        height: 8vw;
    }
    
    .button-arrow svg {
        width: 55%;
        display: block;
        margin: auto;
    
    }
    
    .button-arrow:hover {
        background-color: #FFB700;
    }
    
    .button-arrow:hover svg{
        scale: 1.2;
    }
}